body , html{
    height:100%;
    margin:0;
    padding:0;
    width:1902px;
}
body{
    width:1902px; 
    height:100%;
}
.container{
margin:auto;
height:100%;
width:1902px;
}
.nav{
    position:absolute;
    top:30px;
    height:98px;
    background-color:rgb(255,255,255,0.9);
    width:1902px;
    
}
* {box-sizing:border-box}
/* Slideshow container */
.slideshow-container {
  width:100%;
  position: relative;
  margin: auto;
    margin-left: 0px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  height:100px; 
  width: 55px;
  margin-top: -22px;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 38px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  margin-left:97.1%;
  margin-right:0px;
  border-radius: 3px 0 0 3px;
}
.prev{
    margin-right: 0px;
    margin-left:0px; 
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 2px 12px;
  position: absolute;
  width: 100%;
  text-align: left;
}

/* Number text (1/3 etc) 
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}*/

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px; 
  width: 15px;
  background-color:rgba(255,255,255,1) ;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,.dot:hover {
  background-color:rgba(100,100,100,1);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.pages{
    position: relative;
    text-decoration: none;
    color:black;
    font-size:35px;
    font-family: 'Agency FB', arial;
    margin-left:50px;
    top:-15px;
    display:inline-block ;
    text-align: center;
    padding-bottom:21px;
    padding-top:36px;
    padding-right:55px;
    padding-left:55px;
    
}
#home{
    position: relative;
    top:-15px;
    margin-left:30px;
    text-decoration: none;
    color:white;
    font-size:70px;
    font-family: 'Agency FB', arial;    
    background-color: rgba(0, 205, 255, 1);
    padding-bottom:25px;
    padding-top:15px;
    padding-right:15px;
    padding-left:15px;
    
}
img{
    width:100%;
}
#wave{
    position: absolute;
    top: 800px;
    width:1903px;
}
.pages:hover{
    background-color:rgba(0, 0,0, 1);
    transition:0.6s;
    color: white;
    
}
p{
    font-size:25px;
    font-family: sans-serif;
    text-align: center;
    margin-left:200px;
    margin-right:200px;
}
hr{
    width: 1600px;
    margin-left:150px;
    
    
}
#slide1{
    display: block;
}
.imglink{
    width:500px;
    height:260px;
    margin-left:100px;
    margin-top: 50px;
    display:inline-block;
    background-color: rgba(0,0,0,1);
}
.linktext{
    display: inline;
    font-size:20px;
    font-family: sans-serif;
    position: absolute;
    margin-top:120px;
    margin-left: 40px;
    text-align: left;
    width: 1200px;
}
#linktext2{
    display: inline;
    font-size:20px;
    font-family: sans-serif;
    position: absolute;
    margin-left: 100px;
    margin-top:200px;
    width: 1200px;
    text-align: left;
}
#imglink2{
    width:500px;
    height:260px;
    margin-left:1380px;
    margin-top: 100px;
    display:inline-block;
}
.infoimg{
    margin-top:100px;
    position: relative;
    max-width:1902px;
}
.info{
    background-color: rgba(0, 32, 101, 1);
    text-align: left;
    position:absolute;
    top:1341px;
    width: 600px;
    margin-left:100px;
    max-height:1171px;
    box-shadow:10px 10px 5px rgba(0, 0, 0, 0.6);
}
.infotext{
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 30px;
    text-align: left;
    color:white;
    font-size:23px;
    font-family: sans-serif;
    
}
.cite{
    background-color: #2fa8ff;
    font-size:20px;
    color : white;
    width: 100%;
}
h1{
    font-family: sans-serif;
    color:white;
    padding: 20px;
    font-size:40px;
}
h2{
    font-family: sans-serif;
    color:white;
    padding: 20px;
    font-size:30px;
}
h3{
    font-family: sans-serif;
    color:white;
    padding: 20px;
    font-size:30px;
}
h4{
    font-family: sans-serif;
    font-size:30px;
    display: inline;
    position: absolute;
    margin-left: 40px;
    margin-top:60px;
    text-align: left;
    width: 1100px;
}
h5{
    font-family: sans-serif;
    font-size:30px;
    display: inline;
    position: absolute;
    margin-left: 100px;
    margin-top:110px;
    text-align: left;
    width: 1100px;
}
h6{
    font-family: sans-serif;
    font-size:30px;
    display: inline;
    position: absolute;
    margin-left: 40px;
    margin-top:60px;
    text-align: left;
    width: 1100px;
}
.imglink:hover{
    
    filter:brightness(35%);
    transition: 0.5s;
    
}
#imglink2:hover{
    filter:brightness(35%);
    transition: 0.5s;
}